* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #474747;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

/* HEADER - CRYPTO */

.currency {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1rem;
    padding: .25rem;
    margin-bottom: .2rem;
    font-size: .75rem;
}

.currency img {
    width: 7.5%;
    margin-right: 1rem;
}

.crypto-name {
    width: 5rem;
}

.crypto-price {
    color: lime;
    margin-right: .75rem;
    width: 5rem;
}

.crypto-high {
    color: dodgerblue;
    margin-right: .75rem;
    width: 5rem;

}

.crypto-low {
    color: red;
    width: 5rem;

}

/* HEADER - WEATHER */

#weather {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 .75rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#city {
    margin: 0;
    text-align: end;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 .75rem .75rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
}
