* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #474747;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
}

/* HEADER - CRYPTO */

#crypto-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .25rem .5rem;
    box-sizing: border-box;
}

.currency {
    display: grid;
    grid-template-rows: 1.5rem 1.25rem 1.25rem 1.25rem;
    grid-template-columns: .5fr 1fr;
    grid-template-areas: 
        "img name  name  name"
        "img price price price"
        "img high  high  high"
        "img low   low   low";
    background-color: rgba(0, 0, 0, .4);
    border-radius: 1rem;
    padding: .5rem;
    font-size: .9rem;
    box-sizing: border-box;
    gap: 0 .5rem;
}

.currency img {
    grid-area: img;
    width: 100%;
    align-self: center;
}

.crypto-name {
    grid-area: name;
}

.crypto-price {
    color: lime;
    grid-area: price;
}

.crypto-high {
    color: lightskyblue;
    grid-area: high;

}

.crypto-low {
    color: hotpink;
    grid-area: low;

}

/* HEADER - WEATHER */

#weather-container {
    margin-top: 1rem;
}

#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1rem;
    align-items: center;
    padding: 0 .75rem;
}

#temp-img {
    display: flex;
    align-items: center;
}

#desc {
    text-align: end;
}

#desc::first-letter {
    text-transform: capitalize;
}

#city {
    text-align: end;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    #weather-container {
        margin-top: 0;
    }
  }